<div class="hero-section"></div>

<%= simple_form_for @cart, url: cart_path, class: 'cart-box-form' do |f| %>
<div class="px-1 px-lg-5 mt-5 mb-2">
  <div class="row">
    <div class="col-12 col-lg-5 pr-lg-4">
      <h3 class="font-weight-bold text-left mb-2">Select among our 3 fantastic monthly plans!</h3>
      <p class='mb-3 mb-lg-5'>You will receive a new gift box every month with products that will fill your needs and surprise your palate. All while be supporting the local shops of Istanbul.</p>
      <div class='mb-4 mb-lg-0 d-flex justify-content-center' style='background-color: #FFABBB'>
        <img src="https://packlane.com/blog/wp-content/uploads/2019/08/weekendcreative-unkuppd-1-1x1.jpg" alt="" style="max-width: 300px">
      </div>
    </div>
    <div class="col-12 col-lg-7 mb-lg-3  bottom">
      <% @boxes.each do |box|  %>
      <div class="card shadow-sm mb-3 pt-1 box-card" data-price="<%= box.price %>" data-box-id="<%= box.id %>">
        <div class="bg-transparent d-flex justify-content-between px-3 py-2">
          <h4 class="font-weight-bold text-left mb-0"><%= box.name %></h4>
          <h3 class="text-primary card-title font-weight-bold text-right mb-0"><%= humanized_money_with_symbol box.price %></h3>
        </div>
        <div class="card-body">
          <% if current_or_guest_user.preference %>
          <p class="card-text">
            With this plan you will receive a surprise box of tailored <%= current_or_guest_user.preference.stringify_categories %> items, among others.
          </p>
          <% end %>
          <input class="form-check-input boolean optional d-none" type="radio" value="<%= box.id %>" name="cart[box_id]">
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class='checkout-yellow-banner <%= "subtotal_#{current_or_guest_user.cart.get_total_price}" %> p-3'>
  <div class="row w-100 d-flex justify-content-end">
    <div class="col-12 col-lg-5 mx-auto mx-lg-0 mr-lg-3 mb-2 mb-lg-0">
      <h4 class="my-0 text-center text-lg-right">Sub-total: <span id="subtotal"></span></h4>
      <p class="my-0 text-center text-lg-right">Enjoy free delivery in Istanbul!</p>
    </div>
    <div class='col-12 col-lg-2 d-flex align-items-center'>
      <%= f.submit "Continue", class: "btn-lg-rounded-primary w-100 border-0 mr-2 px-0", disabled: true %>
    </div>
  </div>
</div>
<% end %>
