<div class="accordion mt-3" id="accordionExample">
  <h1 id="faq-head" style="color: #0DBF6C">So what's the catch?</h1>
  <p id="faq-desc">There is none. Seriously. You are in control. Cancel anytime. Still not convinced? Read on!</p>
  <% FAQ.each_with_index do |faq, index| %>
  <div class="question-card">
    <div class="q-header" role="button" data-toggle="collapse" data-target="#collapse-<%= index %>" aria-expanded="false" aria-controls="collapse-<%= index %>" id="headingOne">
      <p class="mb-0">
         <strong><%= faq[:question] %></strong>
     </p>
   </div>

   <div id="collapse-<%= index %>" class="collapse" aria-expanded="false" aria-labelledby="headingOne" data-parent="#accordionExample">
    <div class="card-body">
      <%= faq[:answer] %>
    </div>
  </div>
</div>
<% end %>
</div>
