<div class="container-fluid px-0 position-relative bck-light-grey" id="hero-video">
  <video autoplay muted loop id="video">
    <source src="https://storage.coverr.co/videos/8OJpEo9WdzRmF02zwvr01tMbSvH4161dcg?token=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJhcHBJZCI6IjExNDMyN0NEOTRCMUFCMTFERTE3IiwiaWF0IjoxNTg3NTY0MTIyfQ.ev2gHM5DiVFsAGm1ywkIjlSEy61LBAGPTF6G9DrA5YY" type="video/mp4">
    </video>
    <div class="overlay h-100 w-100 d-flex flex-column justify-content-center align-items-center txt-white" id="home-banner">
      <h1>The best local shops of <strong>Istanbul</strong></h1>
      <h2 class="text-center">Thousands of unique products from Istanbul's most authentic stores.</h2>
      <p style="margin-top: 15px">FROM 45TL/SUBSCRIPTION</p>
      <a class="btn btn-lg-rounded-primary" href="<%= new_preference_path %>">Start now ➜</a>
    </div>
  </div>

  <div class="bck-light-grey p-3">
    <div class="container text-center mt-3 mt-lg-5", id="homepage-main-container">
      <h1 class='mb-4' style="color: #0DBF6C"><b>Missing your favorite local shops?</b></h1>
      <p class="mb-4">Receive your personalized box of 5 handpicked products every month perfectly suited to your needs.</p>
      <a class="btn btn-lg-rounded-primary" href="<%= new_preference_path %>" style="margin-bottom: 40px">Tell me more ➜</a>
    </div>
  </div>

  <div class="container text-center p-3 mt-5", id="homepage-main-container">
    <h1 class="mb-4" style='color: #0DBF6C'><b>How it works</b></h1>
    <p class="mb-0">No commitments. No contracts. No strings attached. Forever.</p>
  </div>

  <div class="px-5 mb-2">
    <div class="row justify-content-center">
      <div class="info-card m-4 col-12 col-lg-3">
        <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587994514/ba11b948-39ef-44f5-a9b1-95cfee7f9eec_Calendar_bjdgog.png", class: "info-card-img mb-4" %>
        <h4 class='mb-4' style="color: #0DBF6C"><b>Adapted To You</b></h4>
        <p>Free delivery. Cancel your monthly plan anytime without penalties.</p>
      </div>
      <div class="info-card m-4 col-12 col-lg-3">
        <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587994508/ourhoodimg_s1w5jj.png", class: "info-card-img mb-4" %>
        <h4 class='mb-4' style="color: #0DBF6C"><b>Hand-picked For You</b></h4>
        <p>Discover a selection of products which fit your needs and personal taste.</p>
      </div>
      <div class="info-card m-4 col-12 col-lg-3">
        <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587994512/ourhoodimg2_fs6lbr.png", class: "info-card-img mb-4" %>
        <h4 class='mb-4' style="color: #0DBF6C"><b>Delivered To You</b></h4>
        <p>The most unique Istanbul stores delivered right to you.</p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row justify-content-center">
      <a class="btn btn-lg-rounded-primary mb-5" href="<%= new_preference_path %>">Start now ➜</a>
    </div>
  </div>


  <div class="bck">
    <div class="container">
      <div class="faq mb-5">
        <%= render 'faq' %>
      </div>
    </div>
  </div>
