<div class="small-cover-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://assets.packlane.com/AxMLSgIzet3R4E32aVxYOg_r3oOy88Cy8ibvS2RCcHQ/fn:homepage-hero/czM6Ly9wYWNrbGFuZS1hc3NldHMvcHJvZHVjdGlvbi9hcHAvaW1hZ2VzL2hvbWVwYWdlLWhlcm8uanBn.jpg);">
  <div class="container row col-12 col-lg-6 ml-lg-5">
    <h1>Register today and enjoy <strong>up to 15% off on your first order</strong></h1>
    <h2>Thousands of unique products from Istanbul's most authentic stores.</h2>
    <a class="btn btn-lg-rounded-primary" style="margin-left: 20px" href="<%= new_preference_path %>">start the quiz ➜</a>
  </div>
</div>

<div class="container text-center mt-5">
  <h1 class="mb-5" id='main-green'><b>How OurHood Works:</b></h1>
  <div class="row">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587994508/ourhoodimg_s1w5jj.png", class: "info-card-img" %>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h4 class='mb-4' id='main-green'><b>Answer Our Survey</b></h4>
      <p>Tell us about your shopping preferences and we will prepare a gift box that fits your needs and taste.</p>
    </div>
  </div>
  <div class="row mt-5 justify-content flex-column-reverse flex-lg-row">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center ">
      <h4 class='mb-4' id='main-green'><b>Select Your Plan</b></h4>
      <p>Chose one of our specially prepared plans for you with the most unique products from Istanbul's best local shops.</p>
    </div>
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "product.svg", class: "card-200-img" %>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587994512/ourhoodimg2_fs6lbr.png", class: "info-card-img" %>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h4 class='mb-4' id='main-green'><b>Add To Your Box</b></h4>
      <p>Chose additional unique products to go with your subscription from Istanbul's best local shops</p>
    </div>
  </div>
  <a class="btn btn-lg-rounded-primary my-5" href="<%= new_preference_path %>" style="margin-bottom: 600px">let's get started ➜</a>
</div>
