<div class="small-cover-banner hero-section" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://res.cloudinary.com/drjk0oilg/image/upload/v1587973994/edvjunc96fjesinzvsti.jpg);">
  <div class="container ml-lg-5">
    <div class="row">
      <div class="col-12">
        <h1>Register today and be seen by 1000's of shoppers</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 d-flex align-items-center">
        <h2>Join many of Istanbul's most authentic stores.</h2>
        <a class="btn btn-lg-rounded-primary" style="max-height: 50px;" href="<%= new_shop_path %>">Register Now</a>
      </div>
    </div>
  </div>
</div>

<div class="container text-center mt-5">
  <h1 class="mb-5" id='main-green'><b>Join OurHood Ecosystem</b></h1>
  <div class="row">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587978367/egpb3oevccca9qj90soz.svg", class: "card-200-img" %>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h4 class='mb-4' id='main-green'><b>Grow your business</b></h4>
      <p>Take your business to the next level.</p>
    </div>
  </div>
  <div class="row mt-5 justify-content flex-column-reverse flex-lg-row">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center ">
      <h4 class='mb-4' id='main-green'><b>Stay successful</b></h4>
      <p>Keep competive with stores already on the internet.</p>
    </div>
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587978996/mnskncwxnztnwjfpc4je.svg", class: "card-200-img" %>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587979060/ek4xyt8zhxvl52hsggmx.svg", class: "card-200-img" %>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center my-5">
      <h4 class='mb-4' id='main-green'><b>Start selling today</b></h4>
      <p>Put your products in front of the millions of shoppers that shop in Istanbul every day.</p>
    </div>
  </div>
  <a class="btn btn-lg-rounded-primary my-5" href="<%= new_shop_path %>" style="margin-bottom: 600px">Register Now</a>
</div>
