<div class="small-cover-banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://res.cloudinary.com/drjk0oilg/image/upload/v1587973994/edvjunc96fjesinzvsti.jpg);">
  <div class="container row col-12 col-lg-6 ml-lg-5">
    <h1>Register today and be seen by 1000's of shoppers</strong></h1>
    <h2>Join many of Istanbul's most authentic stores.</h2>
    <p class="">

    <a class="btn btn-lg-rounded-primary" style="margin-left: 20px" href="<%= shops/index %>">Get Started</a>
    </p>
  </div>
</div>

<div class="container text-center mt-5">
  <h2 class="mb-5"><b>Join OurHood</b></h2>
  <div class="row">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587978367/egpb3oevccca9qj90soz.svg", class: "info-card-img" %>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h3><b>Grow your business</b></h3>
      <p>Take your business to the next level.</p>
    </div>
  </div>
  <div class="row mt-5 justify-content flex-column-reverse flex-lg-row">
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center ">
      <h3><b>Stay successful</b></h3>
      <p>Keep competive with stores already on the internet.</p>
    </div>
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587978996/mnskncwxnztnwjfpc4je.svg", class: "info-card-img" %>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12 col-lg-6 mb-5 mb-lg-0">
      <%= image_tag "https://res.cloudinary.com/drjk0oilg/image/upload/v1587979060/ek4xyt8zhxvl52hsggmx.svg", class: "info-card-img" %>
    </div>
    <div class="col-12 col-lg-6 d-flex flex-column justify-content-center">
      <h3><b>Start selling today</b></h3>
      <p>Put your products in front of the millions of shopers that shop in Istanbul every day.</p>
       <a class="btn btn-lg-rounded-primary my-5" href="<%= shops/index %>" style="margin-bottom: 600px">Sign up</a>
    </div>
  </div>

</div>
