<div class="container-fluid justify-content-center">
  <% if @cart.products.count <= 0 %>
  <div class="row">
    <div class="link">
      <%= link_to "Explore our offers", products_path, class: "btn-rounded-primary" %>
    </div>
    <h1 class= "text-center text-primary mt-3">No items in your cart yet</h1>
  </div>
  <% else %>
  <div class="row justify-content-center">
    <div class="link">
      <%= link_to "Proceed to Checkout", new_product_path, class: "btn-rounded-primary" %>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 border-right border-primary products-container pb-3 pb-lg-0 pr-0 pr-lg-5">
      <h2 class="text-center text-primary" style="font-family: Roboto;"> Your Products</h2>
      <% @products.each do |product| %>
      <div class="cart-product bg-white shadow d-flex align-items-center mb-3 w-100">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" />
        <div class="cart-product-infos w-100 py-2">
          <h2><%= product.name %></h2>
          <p><%= product.description %></p>
          <p><%= product.price %>₺</p>
          <p><%= product.category %></p>

          <div class="d-flex justify-content-end">
            <% if current_user.cart.products.include?(product) %>
            <%= simple_form_for CartProduct.where(product: product, cart: current_user.cart).first, :method => :delete do |f| %>
            <%= f.submit "Remove from cart", class: "btn btn-primary text-white" %>
            <% end %>
            <% else %>
            <%= simple_form_for @cart_product do |f| %>
            <%= f.hidden_field :product_id, value: product.id  %>
            <%= f.submit "Move to the wishlist", class: "btn btn-primary text-white" %>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
    </div>

    <div class="col-12 col-lg-6 pt-3 pt-lg-0 pl-0 pl-lg-5">
      <h2 class="text-center text-primary"> Your Box</h2>
      <div class="cart card text-white bg-primary w-100">
        <div class="cart-header card-header"><%= @box&.name %></div>
        <div class="card-body">
          <div class="row">
            <div class="col cart-bg"></div>
            <div class="col">
          <h5 class="cart-title card-title mb-5 mt-5"><%= @box&.description %></h5>
          <p class="cart-text card-text mt-5"> <%= @box&.price %>₺</p>

            </div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>


