  <div class="container my-4">
    <h3 class="text-center font-weight-lighter mt-4"><b>Tell us a little bit more about you!</b></h3>
    <p class="text-center font-weight-lighter">This will help us customize a box of products just for you.</p>
    <img src="https://packlane.com/blog/wp-content/uploads/2019/08/weekendcreative-unkuppd-1-1x1.jpg" class="img-fluid w-25 rounded mx-auto d-block mb-3 shadow-sm" alt="Responsive image">
    <div class="align-items-center">
      <p class="text-center font-weight-lighter">Let's get started!</p>
      <a href="#name-section"><img src="https://img.icons8.com/ios/50/000000/low-importance.png" class="arrow-down-icon rounded mx-auto d-block"></a>
    </div>
  </div>
  <div class="container preferences-new-page">
    <%= simple_form_for @preference, url: preferences_path do |f| %>
    <% SURVEY[:QUESTIONS].each_with_index do |question, index| %>
    <section id="<%= question[:id] %>-section" data-index="<%= index %>" class="scroll-section <%= question[:type] == 'text' ? 'section--text' : 'section--radio'%> flex-column min-vh-100 justify-content-center align-items-center <%= index == 0 ? 'd-flex active' : 'd-none' %>">
      <p class="font-weight-lighter"> <%= question[:type_order]  %></p>
      <h3 class="text-center"> <%= question[:content] %> </h3>
      <p class="font-weight-light"> <%= question[:type_select] %> </p>
      <% if question[:type] == 'text' %>
      <%= f.input question[:id].to_sym, class: "input-bar" %>
      <% elsif question[:type] == 'radio' %>
      <%= f.input question[:id].to_sym, as: :radio_buttons, collection: question[:options], label: "" %>
      <% else %>
      <%= f.input question[:id].to_sym, as: :check_boxes, collection: question[:options], label: "" %>
      <% end %>
      <% if index != SURVEY[:QUESTIONS].length - 1%>
      <span class="btn-lg-rounded-primary next-button">Next</span>
      <% else %>
      <%= f.button :submit, "See your plan!", class: "btn-lg-rounded-primary" %>
      <% end %>
    </section>
    <% end %>
    <% end %>
  </div>
